# Config and cache files
config.yml
config.yaml
.cache*
.session.yml
.session.md
.tracks.db
dry_run_output.log
songs_not_found*.txt
music-sync.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Visual Studio Code
.vscode/
